.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 33.3333333333%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
}

.main-section {
    height: 800px;
    width: 33.3333333333%;
}

@media only screen and (max-width: 600 px) {
    .main-section {
        height: 800px;
        width: 100%;
    }
}

.main-section-side {
    height: 800px;
    width: 33.3333333333%;
}

@media only screen and (max-width: 600 px) {
    .main-section-side {
        height: 800px;
        width: 0%;
    }
}

.bggreen {
    background-color: #d8e2dc;
}

.bgimg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-size: 75%; */
}

.title-left {
    position: absolute;
    top: 20%;
    left: 8%;
    /* z-index: 2; */
}

.title-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 20%;
    /* z-index: 2; */

    height: 260px;
    width: 260px;
    border: 1px solid black;
    border-radius: 100%;
    transition-duration: 0.3s;
}
.title-right-bg {
    background-image: url("../images/Self-Portrait.png");
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
}

/* .title-right:hover {
    background-image: url("../images/Self-Portrait.png");
    transition-duration: 1s;
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center;
} */
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 75%;
    text-align: center;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* z-index: 2; */
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    border-radius: 100%;
    background-color: white;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    top: 70%;
    left: 65%;
    padding-left: 30px;
    width: 300px;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        /* -webkit-filter: drop-shadow(-10px -3px 1px rgba(0, 0, 0, 0.583));
      filter: drop-shadow(-10px -3px 1px rgba(0, 0, 0, 0.583)); */
        filter: hue-rotate(0deg);
    }
    to {
        transform: rotate(359deg);
        /* -webkit-filter: drop-shadow(-10px -3px 1px rgba(0, 0, 0, 0.583));
      filter: drop-shadow(-10px -3px 1px rgba(0, 0, 0, 0.583)); */
        filter: hue-rotate(359deg);
    }
}

.flower-top {
    position: absolute;
    top: 22%;
    left: 49%;
    width: 180px;
}
.flower-bottom {
    position: absolute;
    top: 42%;
    left: 47%;
    width: 180px;
}
/* .flower-top{
    position: absolute;
    top: 26%;
    left: 47%;
    width:150px;
}
.flower-bottom{
    position: absolute;
    top: 41%;
    left: 46%;
    width:150px; 
/* } */
@media only screen and (max-width: 600 px) {
    .workGrid {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 601 px) {
    .workGrid {
        grid-template-columns: 1fr 1fr;
    }
}
